{% csrf_token %}
<!-- Name Field -->
<div class="row mb-3">
    <label for="{{ pengguna_form.name.id_for_label }}"
           class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">{{ pengguna_form.name }}</div>
</div>
<!-- Password Field -->
<div class="row mb-3">
    <label for="{{ pengguna_form.password.id_for_label }}"
           class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">{{ pengguna_form.password }}</div>
</div>
<!-- Gender Radio Group -->
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
    <div class="col-sm-10">
        {% for radio in pengguna_form.gender %}
            <div class="form-check">
                {{ radio.tag }}
                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
            </div>
        {% endfor %}
    </div>
</fieldset>
<!-- Phone Number Field -->
<div class="mb-3 row">
    <label for="{{ pengguna_form.phone_number.id_for_label }}"
           class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-10">{{ pengguna_form.phone_number }}</div>
</div>
<!-- Birthdate Field -->
<div class="mb-3 row">
    <label for="{{ pengguna_form.birthdate.id_for_label }}"
           class="col-sm-2 col-form-label">Birthdate</label>
    <div class="col-sm-10">{{ pengguna_form.birthdate }}</div>
</div>
<!-- Address Field -->
<div class="mb-3 row">
    <label for="{{ pengguna_form.address.id_for_label }}"
           class="col-form-label col-sm-2">Address</label>
    <div class="col-sm-10">{{ pengguna_form.address }}</div>
</div>
<input type="hidden" name="user_type" value="pengguna" />
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success">Register</button>
</div>
