{% csrf_token %}
<!-- Name Field -->
<div class="row mb-3">
  <label
    for="{{ pekerja_form.name.id_for_label }}"
    class="col-sm-2 col-form-label"
    >Name</label
  >
  <div class="col-sm-10">{{ pekerja_form.name }}</div>
</div>
<!-- Password Field -->
<div class="row mb-3">
  <label
    for="{{ pekerja_form.password.id_for_label }}"
    class="col-sm-2 col-form-label"
    >Password</label
  >
  <div class="col-sm-10">{{ pekerja_form.password }}</div>
</div>
<!-- Gender Radio Group -->
<fieldset class="row mb-3">
  <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
  <div class="col-sm-10">
    {% for radio in pekerja_form.gender %}
    <div class="form-check">
      {{ radio.tag }}
      <label class="form-check-label" for="{{ radio.id_for_label }}"
        >{{ radio.choice_label }}</label
      >
    </div>
    {% endfor %}
  </div>
</fieldset>
<!-- Phone Number Field -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.phone_number.id_for_label }}"
    class="col-sm-2 col-form-label"
    >Phone Number</label
  >
  <div class="col-sm-10">{{ pekerja_form.phone_number }}</div>
</div>
<!-- Birthdate Field -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.birthdate.id_for_label }}"
    class="col-sm-2 col-form-label"
    >Birthdate</label
  >
  <div class="col-sm-10">{{ pekerja_form.birthdate }}</div>
</div>
<!-- Address Field -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.address.id_for_label }}"
    class="col-form-label col-sm-2"
    >Address</label
  >
  <div class="col-sm-10">{{ pekerja_form.address }}</div>
</div>
<!-- Bank Name Select -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.bank_name.id_for_label }}"
    class="col-form-label col-sm-2"
    >Bank Name</label
  >
  <div class="col-sm-10">{{ pekerja_form.bank_name }}</div>
</div>
<!-- Bank Account Field -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.bank_account_number.id_for_label }}"
    class="col-form-label col-sm-2"
    >Bank Account</label
  >
  <div class="col-sm-10">{{ pekerja_form.bank_account_number }}</div>
</div>
<!-- NPWP Field -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.npwp.id_for_label }}"
    class="col-form-label col-sm-2"
    >NPWP</label
  >
  <div class="col-sm-10">{{ pekerja_form.npwp }}</div>
</div>
<!-- Photo URL Field -->
<div class="mb-3 row">
  <label
    for="{{ pekerja_form.photo_url.id_for_label }}"
    class="col-form-label col-sm-2"
    >Photo URL</label
  >
  <div class="col-sm-10">{{ pekerja_form.photo_url }}</div>
</div>
<input type="hidden" name="user_type" value="pekerja" />
<div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-success">Register</button>
</div>
