{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Profile</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <h5 class="card-header">Your Profile</h5>
                    <div class="card-body">
                        <p class="card-text">Name: {{ user.name }}</p>
                        {% if user.is_pengguna %}
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
