{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Profile</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <h5 class="card-header">Your Profile</h5>
                    <div class="card-body">
                        <div class="row">
                            <p class="card-text col-sm-2">Name:</p>
                            <p class="card-text col-sm-10">{{ user.name }}</p>
                        </div>
                        {% if user.is_pengguna %}
                            <div class="row">
                                <p class="card-text col-sm-2">Level:</p>
                                <p class="card-text col-sm-10">{{ user.level }}</p>
                            </div>
                        {% endif %}
                        <div class="row">
                            <p class="card-text col-sm-2">Gender:</p>
                            <p class="card-text col-sm-10">{{ user.gender }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-sm-2">Phone Number:</p>
                            <p class="card-text col-sm-10">{{ user.phone_number }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-sm-2">Birthdate:</p>
                            <p class="card-text col-sm-10">{{ user.birthdate }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-sm-2">Address:</p>
                            <p class="card-text col-sm-10">{{ user.address }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-sm-2">MyPay Balance:</p>
                            <p class="card-text col-sm-10">{{ user.mypay_balance }}</p>
                        </div>
                        {% if not user.is_pengguna %}
                            <div class="row">
                                <p class="card-text col-sm-2">Bank:</p>
                                <p class="card-text col-sm-10">{{ user.bank_name }}</p>
                            </div>
                            <div class="row">
                                <p class="card-text col-sm-2">Bank Account Number:</p>
                                <p class="card-text col-sm-10">{{ user.bank_account_number }}</p>
                            </div>
                            <div class="row">
                                <p class="card-text col-sm-2">NPWP:</p>
                                <p class="card-text col-sm-10">{{ user.npwp }}</p>
                            </div>
                            <div class="row">
                                <p class="card-text col-sm-2">Rating:</p>
                                <p class="card-text col-sm-10">{{ user.rating }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer text-end">
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#updateInfoModal">Update Info</button>
                        <!-- Modal -->
                        <div class="modal fade"
                             id="updateInfoModal"
                             data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             tabindex="-1"
                             aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Profile</h1>
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form class="modal-body text-start" method="post" id="update-form">
                                        {% if user.is_pengguna %}
                                            {% include 'register_pengguna_form.html' %}
                                        {% else %}
                                            {% include 'register_pekerja_form.html' %}
                                        {% endif %}
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" form="update-form">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
