{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Login</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <h5 class="card-header">Login to your account!</h5>
                    <form class="card-body">
                        <div class="mb-3 form-floating">
                            {{ form.phone_number }}
                            <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                            <div id="telHelp" class="form-text">We'll never share your phone number with anyone else.</div>
                        </div>
                        <div class="mb-3 form-floating">
                            {{ form.password }}
                            <label for="{{ form.password.id_for_label }}">Password</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
