{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Register</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <h5 class="card-header">Create an account!</h5>
                    <div class="card-body">
                        <p class="card-text text-center">Who would you like to register as?</p>
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100 border-start-0 {% if not show_pekerja %}active{% endif %}"
                                    id="pengguna-form-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#pengguna-form-tab-pane"
                                    type="button"
                                    role="tab"
                                    aria-controls="pengguna-form-tab-pane"
                                    aria-selected="true">Pengguna</button>
                        </li>
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100 border-end-0 {% if show_pekerja %}active{% endif %}"
                                    id="pekerja-form-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#pekerja-form-tab-pane"
                                    type="button"
                                    role="tab"
                                    aria-controls="pekerja-form-tab-pane"
                                    aria-selected="false">Pekerja</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade {% if not show_pekerja %}show active{% endif %}"
                             id="pengguna-form-tab-pane"
                             role="tabpanel"
                             aria-labelledby="pengguna-form-tab"
                             tabindex="0">
                            <form class="card-body" method="post">
                                {% include 'register_pengguna_form.html' %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade {% if show_pekerja %}show active{% endif %}"
                             id="pekerja-form-tab-pane"
                             role="tabpanel"
                             aria-labelledby="pekerja-form-tab"
                             tabindex="0">
                            <form class="card-body" method="post">
                                {% include 'register_pekerja_form.html' %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
