{% extends 'base.html' %}
{% block meta %}
    <title>Diskon</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container my-5">
        <h2 class="text-center mb-4">DISKON</h2>
        <div class="card mb-5">
            <div class="card-body">
                <h4 class="card-title">Voucher</h4>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Kode</th>
                                <th>Potongan</th>
                                <th>Min Transaksi Pemesanan</th>
                                <th>Jumlah Hari Berlaku</th>
                                <th>Kuota Penggunaan</th>
                                <th>Harga</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for voucher1 in voucher %}
                            <tr>
                                <td>{{ voucher1.kode }}</td>
                                <td>{{ voucher1.potongan }}</td>
                                <td>{{ voucher1.min_tr_pemesanan }}</td>
                                <td>{{ voucher1.jml_hari_berlaku }}</td>
                                <td>{{ voucher1.kuota_penggunaan }}</td>
                                <td>{{ voucher1.harga }}</td>
                                <td>
                                    <!-- Tombol untuk membuka modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#voucherModal"
                                    data-kode_voucher="{{ voucher1.kode }}"
                                    data-harga="{{ voucher1.harga }}"
                                    data-potongan="{{ voucher1.potongan }}"
                                    data-min-transaksi="{{ voucher1.min_tr_pemesanan }}"
                                    data-kuota="{{ voucher1.kuota_penggunaan }}">
                                    Beli
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Bagian Promo -->
    <div class="container my-5">
        <h2 class="text-center mb-4"></h2>
        <div class="card mb-5">
            <div class="card-body">
                <h4 class="card-title">Promo</h4>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Kode</th>
                                <th>Tanggal Akhir Berlaku</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for promo in promo %}
                            <tr>
                                <td>{{ promo.kode }}</td>
                                <td>{{ promo.tgl_akhir_berlaku }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Form Pembelian -->
    <div class="modal fade" id="voucherModal" tabindex="-1" aria-labelledby="voucherModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="voucherModalLabel">Pembelian Voucher</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'diskon:beli_voucher' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="kode_voucher" id="kode_voucher">
                        <input type="hidden" name="harga_voucher" id="harga_voucher">
                        <input type="hidden" name="potongan_voucher" id="potongan_voucher">
                        <input type="hidden" name="min_tr_pemesanan" id="min_tr_pemesanan">
                        <input type="hidden" name="kuota_penggunaan" id="kuota_penggunaan">
                        <div class="mb-3">
                            <label for="metodePembayaran" class="form-label">Metode Pembayaran</label>
                            <select class="form-select" id="metode_pembayaran" name="metode_pembayaran">
                                {% for metode in metode_bayar %}
                                    <option value="{{ metode.id }}">{{ metode.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary">Beli</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sukses -->
    {% if status_modal == "sukses" %}
    <div class="modal fade" id="modal-sukses" tabindex="-1" aria-labelledby="modal-suksesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-suksesLabel">Pembelian Voucher Berhasil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ message | safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal Gagal -->
    {% if status_modal == "gagal" %}
    <div class="modal fade" id="modal-gagal" tabindex="-1" aria-labelledby="modal-gagalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-gagalLabel">Pembelian Voucher Gagal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ message | safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <script>

        // JavaScript untuk memuat data voucher yang dipilih ke dalam form modal
        var beliVoucherButtons = document.querySelectorAll('.btn-primary');
        beliVoucherButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var kode_voucher = button.getAttribute('data-kode_voucher');
                var harga = button.getAttribute('data-harga');
                var potongan = button.getAttribute('data-potongan');
                var min_transaksi = button.getAttribute('data-min-transaksi');
                var kuota = button.getAttribute('data-kuota');
    
                document.getElementById('kode_voucher').value = kode_voucher;
                document.getElementById('harga_voucher').value = harga;
                document.getElementById('potongan_voucher').value = potongan;
                document.getElementById('min_tr_pemesanan').value = min_transaksi;
                document.getElementById('kuota_penggunaan').value = kuota;
            });
        });

        window.onload = function() {
            var successModal = document.getElementById("modal-sukses");
            if (successModal) {
                var modal = new bootstrap.Modal()
            }
        };
    </script>

{% endblock content %}
