{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>MyPay</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
    <div class="container mt-4">
    <div class="border rounded mb-3">
        <div class="container mt-4">
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2 border rounded" style="flex: 1; max-width: 50%;">No HP: 081212863231</div>
                <div class="d-flex align-items-start" style="flex: 1; justify-content: flex-end; max-width: 10%;">
                    <a type="button" class="btn btn-success" href="{% url 'mypay:transaksi_mypay' %}">Transaksi</a>
                </div>
            </div>
            <div class="d-flex mb-3" style="max-width: 50%; justify-content: flex-start;">
                <div class="p-2 border rounded w-100 text-left">Saldo: Rp8.000.000</div>
            </div>
        </div>
    </div>
        
        <div class="border rounded p-3">
            <h5>Riwayat Transaksi</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>+/- Nominal</th>
                            <th>Tanggal</th>
                            <th>Kategori Transaksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>+ 100,000</td>
                            <td>2024-11-10</td>
                            <td>Top-up</td>
                        </tr>
                        <tr>
                            <td>- 50,000</td>
                            <td>2024-11-09</td>
                            <td>Pembayaran</td>
                        </tr>
                        <tr>
                            <td>- 200,000</td>
                            <td>2024-11-08</td>
                            <td>Transfer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}