{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Transaksi</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <div class="border rounded mb-3">
            <div class="container mt-4">
                <div class="d-flex justify-content-between mb-2">
                    <div class="p-2 border rounded" style="flex: 1; max-width: 50%;">{{ user.name }}</div>
                    <div class="p-2 border rounded">{% now "d-m-Y" %}</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="p-2 border rounded" style="flex: 1; max-width: 50%;">Saldo: Rp{{ user.mypay_balance }}</div>
                </div>
                <div class="dropdown mb-3">
                </div>
            </div>
        </div>
        <div class="border rounded p-3" id="state">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-topup-tab" data-bs-toggle="pill" data-bs-target="#pills-topup" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Top Up</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-transfer-tab" data-bs-toggle="pill" data-bs-target="#pills-transfer" type="button" role="tab" aria-controls="pills-transfer" aria-selected="false">Transfer</button>
                </li>
                {% if user.is_pengguna %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-bayar-tab" data-bs-toggle="pill" data-bs-target="#pills-bayar" type="button" role="tab" aria-controls="pills-bayar" aria-selected="false">Bayar Jasa</button>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-withdrawal-tab" data-bs-toggle="pill" data-bs-target="#pills-withdrawal" type="button" role="tab" aria-controls="pills-withdrawal" aria-selected="false">Withdrawal</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-topup" role="tabpanel" aria-labelledby="pills-topup-tab">{% include 'forms/topup.html' %}</div>
                <div class="tab-pane fade" id="pills-transfer" role="tabpanel" aria-labelledby="pills-transfer-tab">{% include 'forms/transfer.html' %}</div>
                {% if user.is_pengguna %}
                <div class="tab-pane fade" id="pills-bayar" role="tabpanel" aria-labelledby="pills-bayar-tab">{% include 'forms/bayar_jasa.html' %}</div>
                {% endif %}
                <div class="tab-pane fade" id="pills-withdrawal" role="tabpanel" aria-labelledby="pills-withdrawal-tab">{% include 'forms/withdrawal.html' %}</div>
              </div>
        </div>
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownBank = document.getElementById("kategori_transaksi");
        const namaBankInput = document.getElementById("nama_bank");
        const bankOptions = document.querySelectorAll("#bank-options .dropdown-item");
    
        bankOptions.forEach(option => {
            option.addEventListener("click", (e) => {
                e.preventDefault(); 
                const selectedBank = option.getAttribute("data-value"); 
                dropdownBank.textContent = selectedBank; 
                namaBankInput.value = selectedBank; 
            });
        });

        const pesananMenuItems = document.querySelectorAll('#pesanan_menu .dropdown-item');
        const pesananDropdown = document.getElementById('pesanan_dropdown');
        const hargaJasaDiv = document.getElementById('harga_jasa');
        const inputNamaPesanan = document.getElementById('input_nama_pesanan');
        const inputHargaPesanan = document.getElementById('input_harga_pesanan');
        const inputIdPesanan = document.getElementById('input_id_pesanan');

        pesananMenuItems.forEach(item => {
            item.addEventListener('click', function (event) {
                event.preventDefault(); 
                const selectedPesanan = this.textContent.trim();
                const harga = this.getAttribute('data-harga');
                const id = this.getAttribute('data-id');
                
                pesananDropdown.textContent = selectedPesanan;
                hargaJasaDiv.textContent = `Rp ${new Intl.NumberFormat('id-ID').format(harga)}`;
                inputHargaPesanan.value = harga;
                inputIdPesanan.value = id;
            });
        });
    });
    </script>
{% endblock content %}
