{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Transaksi</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">

    <div class="border rounded mb-3">
        <div class="container mt-4">
            <div class="d-flex justify-content-between">
                <div class="p-2 border rounded" style="flex: 1; max-width: 50%;">John Doe</div>
                <div class="p-2 border rounded">{% now "d-m-Y" %}</div>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <div class="p-2 border rounded" style="flex: 1; max-width: 50%;">Saldo: Rp8.000.000</div>
            </div>
            <div class="dropdown mb-3" >
                <button class="btn btn-success dropdown-toggle" id="kategori_transaksi" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kategori Transaksi
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">TopUp MyPay</a></li>
                  {% if user.is_pengguna %}
                  <li><a class="dropdown-item" href="#">Bayar Transaksi</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="#">Transfer MyPay</a></li>
                  <li><a class="dropdown-item" href="#">Withdrawal</a></li>
                </ul>
              </div>
        </div>
    </div>
        
    <div class="border rounded p-3" id="state">
        
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownItems = document.querySelectorAll('.dropdown-item');
            const stateDiv = document.getElementById('state');
            const dropdown = document.getElementById('kategori_transaksi');
            let state = ``;

            const state_1 = `<form action="">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Top up</label>
            <input type="number" min="0" class="form-control" id="formGroupExampleInput" placeholder="Masukan jumlah nominal saldo">
          </div>
            <button type="button" class="btn btn-success">Top up</button>
        </form>`;

            const state_2 = `<form action="">
        <div class="mb-3 d-flex">
            <div class="me-3">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pesanan Jasa
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <input type="text" class="form-control" placeholder="Harga Jasa" aria-label="Harga Jasa">
            </div>
        </div>
        <div class="d-flex">
            <button type="button" class="btn btn-success">Bayar</button>
        </div>
    </form>`;

            const state_3 = `<form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">No HP</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Nominal</label>
              <input type="number" min="0" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success">Bayar</button>
          </form>`;

            const state_4 = `<form>
            <div class="dropdown mb-3" >
                <button class="btn btn-success dropdown-toggle" id="kategori_transaksi" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nama Bank
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">BANK X</a></li>
                  <li><a class="dropdown-item" href="#">BANK X</a></li>
                  <li><a class="dropdown-item" href="#">BANK X</a></li>
                  <li><a class="dropdown-item" href="#">BANK X</a></li>
                </ul>
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">No Rekening</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Nominal</label>
              <input type="number" min="0" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success">Bayar</button>
          </form>`;

            dropdownItems.forEach(item => {
                item.addEventListener('click', function () {
                    const category = this.textContent.trim();
                    switch (category) {
                        case 'TopUp MyPay':
                            state = state_1;
                            break;
                        case 'Bayar Transaksi':
                            state = state_2;
                            break;
                        case 'Transfer MyPay':
                            state = state_3;
                            break;
                        case 'Withdrawal':
                            state = state_4;
                            break;
                        default:
                            state = ``;
                            break;
                    }
                    dropdown.innerHTML = `${category}`;
                    stateDiv.innerHTML = `${state}`;
                });
            });
        });
    </script>
    
{% endblock content %}